<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

</head>
<body>
<div class="container swiper">
    <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
            {% for p in profiles %}
            <div class="card-item swiper-slide">
                <img src="{% static 'user-image.png' %}" class="user-image">
                <a href="{% url 'projects' p.username %}"><h2 class="username">{{p.username}}</h2></a>
                <p class="email">{{p.email}}</p>
                <a href="{{ p.github }}"><button class = "message-button">{{p.github}}</button></a>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'script.js' %}"></script>